html {
  scroll-behavior: smooth;
}

body{
  background-color: hsl(0, 0%, 5%);
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}


@media (max-width: 768px) {
 
  * {
    max-width: 90vw;
    margin-left: 5vw !important; 
    margin-right: 5vw !important;
  }

  img {
    width: 80vw !important;
    height: auto !important;
    position: static !important;
    margin-bottom: 1rem;
  }


  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem !important;
    margin-top: 1rem !important;
  }

  p {
    font-size: 1rem !important;
  }

  
  .description-container, .pic-container, .location, .email {
    justify-content: center !important;
    text-align: center !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 400px) {
  img {
    width: 90vw !important;
  }

  h1, h2, h3 {
    font-size: 1.2rem !important;
  }

  p {
    font-size: 0.9rem !important;
  }
}