.profile-picture {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* vertical alignment */
  height: 350px;
  padding-right: 4rem; /* optional spacing from right */
}
.profile-picture .card {
  position: relative;
  left: 5%;
  width: 20vw;
  height: auto;
  top: 200px;
  border-radius: 50%;
  border: 2px solid hsl(54, 58%, 62%);
  box-shadow: 0 0 40px 6px hsl(54, 58%, 62%);
  padding: 0;
}